<footer class="footer">
  <small>
    <a>Intern Home </a>
    by <a href="https://www.linkedin.com/in/davidhonghaoshao/">David Honghao Shao</a>
  </small>
  <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
  </div>
</footer>